name: Nuxt

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]
  pull_request:
    branches: ['master']
    
env: 
  LIGHTSAIL_SSH_KEY: ${{ secrets.LIGHTSAIL_SSH_KEY }}
  LIGHTSAIL_HOST: ${{ secrets.LIGHTSAIL_PUBLIC_IP }}
  LIGHTSAIL_USERNAME: OTGF
  AWS_REGION: ap-northeast-2

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: aws 인증하기
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.CICD_ACCESS_ASM }}
          aws-secret-access-key: ${{ secrets.CICD_SECRET_ASM }}
          
      # AWS 인증이 완료되었는지 테스트합니다.
      - name: AWS Lightsail에 연결되었는지 확인
        run: aws configure list
        
      - name: Checkout
        uses: actions/checkout@v3
        with: 
          path: our-source

      - name: 확인해보기
        run: cat .github/workflows/nuxtjs.yml
      
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: ${{ steps.detect-package-manager.outputs.manager }}
          
      - name: Pull the content
        run: git pull

      - name: Restart PM2 process
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.LIGHTSAIL_PUBLIC_IP }}
          username: ${{env.LIGHTSAIL_USERNAME}}
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          script: pm2 restart app
