# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [21.1.0]

    steps:
      - name: checkout release
        uses: actions/checkout@v3
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.0
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Check Npm -v
        run: npm -v

#      - name: install
#        run: npm install
#
#      - name: build
#        run: npm run build

      - name: compress
        run: tar cvfz ./$GITHUB_SHA.tar.gz *
        shell: bash

      - name: AWS configure credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CICD_ACCESS_OTGF }}
          aws-secret-access-key: ${{ secrets.CICD_SECRET_OTGF }}
          aws-region: ap-northeast-2

      - name: upload to S3
        run: |
            zip -r source_code.zip .
            aws s3 cp source_code.zip s3://otgfsbucket

      - name: deploy with AWS codeDeploy
        run: aws deploy create-deployment
          --application-name OTGFBACKUPCodeDeploy
          --deployment-config-name CodeDeployDefault.OneAtATime
          --deployment-group-name OTGFBACKUPDeployGroup
          --ignore-application-stop-failures
          --s3-location bucket=otgfsbucket,bundleType=zip,key=source_code.zip
