# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout release
        uses: actions/checkout@v3

      - name: npm build
        uses: npm run build

      - name: compress
        run: tar cvfz ./$GITHUB_SHA.tar.gz *
        shell: bash

      - name: AWS configure credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.CICD_ACCESS_ASM }}
          aws-secret-access-key: ${{ secrets.CICD_SECRET_ASM }}
          aws-region: ap-northeast-2

      - name: upload to S3
        run: |
            zip -r source_code.zip .
            aws s3 cp source_code.zip s3://otgfsbucket

      - name: deploy with AWS codeDeploy
        run: aws deploy create-deployment
          --application-name OTGFCodeDeploy
          --deployment-config-name CodeDeployDefault.OneAtATime
          --deployment-group-name OTGFDeployGroup
          --ignore-application-stop-failures
          --s3-location bucket=otgfsbucket,bundleType=zip,key=source_code.zip
